.game-container {
    display: grid;
    border: 2px solid black;
    width: 700px;
    height: 700px;
    margin: 50px auto;
}

.player {
    background-color: black;
    float: left;
}


.bullet {
    background-color: red;
    height: 10px;
    width: 10px;
    margin: auto auto;
    border-radius: 50%;
}